@import './variables.scss';

.field {
  input, textarea {
    box-sizing: border-box;
    border: 1px solid $primary-text;
    border-radius: 10px;
    padding: 10px 20px;
    color: $primary-text;
    outline: none;
    width: 100%;
    &::placeholder {
      color: $primary-text;
    }
  }

  .field__message {
    font-size: 12px;
    margin: 3px 5px;
    &.field__message--error {
      color: #f00;
    }
  }
}
