@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');
@import '~normalize.css/normalize.css';
@import './variables.scss';

body {
  font-family: $font-family;
  background-image: url('assets/img/pattern.png');
  min-height: 100vh;
}

figure {
  margin: 0px;
}
