$primary: #E43636;
$primary-text: #A03400;
$secondary: #FFCA00;
$shadow-color: #740B0B45;

$font-family: 'Roboto', Arial, sans-serif;

// Responsive Variables
$screen-xs: 'screen and (max-width: 576px)';
$screen-sm: 'screen and (min-width: 576px) and (max-width: 768px)';
$screen-md: 'screen and (min-width: 768px) and (max-width: 992px)';
$screen-lg: 'screen and (min-width: 992px) and (max-width: 1200px)';
$screen-xl: 'screen and (min-width: 1200px)';
